<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div class="canvas-app">
	<table>
        <tr><td>RAW:</td><td><%= context %></td></tr>
		<tr><td>RAW:</td><td><%= JSON.stringify(context) %></td></tr>
    </table>
</div>
</body>
